:root {
    --color-background: #eff1f5;
    --color-foreground: #eff1f5;
    --accent: #0168b3;
    --text: #000;
}
html {
    background-color: var(--color-background);
}
@font-face {
    font-family: monospace;
    src: url("SourceCodeProFont.ttf");
}
* {
    font-family: monospace;
}
a {
    text-decoration: none;
}
p {
    font-size: larger;
}
body {
    max-width: 800px;
    padding-inline: 16px;
    background-color: var(--color-foreground);
    margin: auto;
}
.dynamicness {
    display: flex;
    flex-direction: row;
}
.sidebar {
    width: 20%;
    list-style-type: none;
}
.full {
    display: block;
    width: 100%;
    height: 20px;
    border-style: none;
    border-radius: 16px;
    background-color: var(--color-background);
}
.full:hover, .full:focus {
    background-color: lightgrey;
}
.content {
    width: 80%;
    min-height: 500px;
    padding: 15px;
    margin: 5px 0 5px 0;
    border-width: 0px;
    overflow: auto;
}
iframe {
    border-style: none;
    display:block;
    width: 100%;
    height: 100%;
}
.quiz-container {
    max-width: auto;
    margin: auto;
}
.question {
    margin-bottom: auto;
}
/* for mobile >~< */
@media only screen and (max-width: 800px) {
body {
    flex-direction: column-reverse;
}
iframe  {
    margin: auto;
    height: 600px;
}
.sidebar {
    width: 100%;
}
}
.full {
    height: 50px;
}