html {
    background-color: #e6e9ef;
}
@font-face {
    font-family: monospace;
    src: url("SourceCodeProFont.ttf");
}
* {
    font-family: monospace;
}
a {
    color: #496be6;
}
p {
    font-size: larger;
}
body {
    max-width: 1000px;
    padding-inline: 16px;
    background-color: #eff1f5;
    border-radius: 16px;
    margin: auto;
    display: flex;
    flex-direction: row;
    min-height: 400px;
}
.sidebar {
    width: 20%;
}
.content {
    width: 80%;
    padding: 15px;
    margin: 5px 0 5px 0;
    flex-wrap: wrap;
}
form {
    padding-top: 16px;
}
iframe {
    border-width: 0px;
    width: auto;
    margin-bottom: 14px;
    min-height: 400px;
}
.quiz-container {
    max-width: auto;
    margin: auto;
}
.question {
    margin-bottom: auto;
}