:root {
    --color-background: #bbbbbd;
    --color-foreground: #eff1f5;
    --color-accent: #0168b3;
    --color-text: #000;
}
html {
    background-color: var(--color-background);
}
@font-face {
    font-family: monospace;
    src: url("SourceCodeProFont.ttf");
}
* {
    font-family: monospace;
}
a {
    text-decoration: none;
}
p {
    font-size: larger;
}
body {
    max-width: 1000px;
    padding-inline: 16px;
    background-color: var(--color-foreground);
    margin: auto;
    border-radius: 4px;
}
.body {
    display: flex;
    flex-direction: row;
    min-height: 600px;
}
.sidebar {
    width: 20%;
    list-style-type: none;
}
.full:hover {
    background-color: var(--color-background);
}
.full:focus {
    background-color: var(--color-foreground);
}
.full {
    display: block;
    width: 90%;
    border-style: solid;
    border-width: 1px;
    background-color: var(--color-foreground);
}
.content {
    width: 80%;
    min-height: 500px;
    padding: 15px;
    margin: 5px 0 5px 0;
    border-width: 0px;
    overflow: auto;
}
iframe {
    border-style: none;
    display:block;
    width: 100%;
    height: 100%;
}
.quiz-container {
    max-width: auto;
    margin: auto;
}
.question {
    margin-bottom: auto;
}
/* for mobile >~< */
@media only screen and (max-width: 800px) {
.body {
    display: flex;
    flex-wrap: wrap-reverse;
}
.sidebar {
    width: 100%;
}
}